* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

h2, h3 {
    color: #3e8e41;
    margin-top: 30px;
}

p {
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #555;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

    a:hover {
        text-decoration: underline;
    }

img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

    img[src*="matriz"] {
        max-width: 350px;
    }

    img[src*="matrizd"], img[src*="matrizf"], img[src*="matrizg"], {
        max-width: 350px;
    }

    img[src*="detpronta.png"], img[src*="soma.png"], img[src*="subtracao.png"],
    img[src*="multiplicacao.png"], img[src*="detpronta.png"], img[src*="detB.png"]{
        max-width: 450px;
    }

details {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-top: 20px;
}

details summary {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    color: #3e8e41;
    margin-bottom: 10px;
    padding: 5px;
}

details p {
    margin-top: 10px;
    color: #333;
}

h3 {
    font-size: 1.3em;
    color: #444;
    margin-top: 15px;
}

hr {
    margin-top: 30px;
    border: 1px solid #ddd;
}

p + p {
    margin-top: 10px;
}

img {
    max-width: 250px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

    footer a {
        display: inline-block;
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        text-decoration: none;
    }

        footer a:hover {
            background-color: #45a049;
        }
